/* GLOBAL */
:root{
    --body-bg:#fff;
    --primary-color:#242a45;
    --accent-color:#5267df;
    --red-color: #fa5959;
}

html{
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Rubik', 'Arial', sans-serif;
}

*, *::before, *::after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1150px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* VISUALLY HIDDEN */
.visually-hidden {
	position: absolute ;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 ;
	border:0 ;
	height: 1px ; 
	width: 1px ; 
	overflow: hidden;
}

/* PLACEHOLDER STYLES */

::-webkit-input-placeholder { 
    color:    #909;
}
:-moz-placeholder { 
   color:    #909;
   opacity:  1;
}
::-moz-placeholder { 
   color:    #909;
   opacity:  1;
}
:-ms-input-placeholder { 
   color:    #909;
}
::-ms-input-placeholder {
   color:    #909;
}

::placeholder { 
   color:    #909;
}

/* BUTTON STYLES */
.button {
    padding: 10px 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    letter-spacing: 0.25px;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #fff;
}

 .button:hover{
    opacity: 0.8;
}

.button:active{
    opacity: 0.6;
}

.button--red{
    padding: 12px 33px 11px 32px;
    background-color: var(--red-color);
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #fff;
    transition: all 0.4s ease;
}

.button--red:hover{
    background-color: #fff;
    color:var(--red-color);
    border: 2px solid var(--red-color);
}

.button--blue{
    background-color: var(--accent-color);
}

.button--blue:hover{
    border:2px solid var(--accent-color);
    background-color: #fff;
    color: var(--accent-color);
}

.button--light{
    color: var(--primary-color);
    background-color: #f7f7f7;
}

.button--light:hover{
    border: 2px solid var(--primary-color);
}

/* HEADER */
.header{
    padding-top: 48px;
    padding-bottom: 110px;
}

.header__container {
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 13px;
}

.sitenav {
    flex-shrink: 1;
    margin: 0;
    padding: 0;
}

.sitenav__logo--link {
    width: 149px;
    height: 25px;
    margin-right: 430px;
}

.sitenav__logo--link:hover{
    opacity: 0.8;
}

.sitenav__logo--link:active{
    opacity: 0.6;
}

.sitenav__logo-img {
    width: 100%;
}

.sitenav__list {
    display: flex;
    padding: 0;
    margin-right: 48px;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 48px;
}

.sitenav__link {
    display: block;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: var(--primary-color);
}

.sitenav__link:hover{
    color: var(--button-color);
    opacity: 0.8;
}

.sitenav__link:active{
    opacity: 0.6;
}

/* MAIN  */
.main-content{
    flex-grow: 1;
}

/* HERO */
.hero {
    padding-top: 69px;
    padding-bottom: 203px;
    background-image: url(../img/bg-image.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 705px) 200px ;
}

.hero__container {
    display: flex;
    align-items: flex-start;

}

.hero__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 540px;
    margin-right: 67px;
    padding-top: 66px;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 52px;
    font-weight: 500;
    letter-spacing: 0.15px;
}

.hero__info {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: var(--primary-color);
    opacity: 0.5;
}

.hero--actions {
    margin-top: 0;
}

.hero--actions__item:not(:last-child){
    margin-right: 16px;
}

.hero__img {
    width: 536px;
    height: 346px;
}