/* GLOBAL */
:root{
    --body-bg:#fff;
    --primary-color:#242a45;
    --accent-color:#5267df;
    --red-color: #fa5959;
}

html{
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Rubik', 'Arial', sans-serif;
}

*, *::before, *::after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1150px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* VISUALLY HIDDEN */
.visually-hidden {
	position: absolute ;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 ;
	border:0 ;
	height: 1px ; 
	width: 1px ; 
	overflow: hidden;
}

/* PLACEHOLDER STYLES */

::-webkit-input-placeholder { 
    color:    #909;
}
:-moz-placeholder { 
   color:    #909;
   opacity:  1;
}
::-moz-placeholder { 
   color:    #909;
   opacity:  1;
}
:-ms-input-placeholder { 
   color:    #909;
}
::-ms-input-placeholder {
   color:    #909;
}

::placeholder { 
   color:    #909;
}

/* SECTION STYLES */
.section {
    margin: 0;
    padding-top: 75px;
    padding-bottom: 75px;
}

.features__section{
    margin-bottom: 44px;
}

.section__info {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.section__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 52px;
    font-weight: 500;
    letter-spacing: -0.1px;
    color: var(--primary-color);
}

.section__description {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: var(--primary-color);
    opacity: 0.5;
}


/* TABS */
.tabs {
    margin: 0;
    padding: 0;
}

.tabs__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.tabs__item {
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 243px;
    text-align: center;
    border-bottom: 1px solid rgba(73, 93, 207, 0.20);
}

.tabs__item--active{
    border-bottom: 4px solid var(--red-color);
}

.tabs__link {
    display: block;
    margin-top: 0;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.53px;
    font-weight: 400;
    color: var(--primary-color);
}

/* TABS PANELS */
.tabs__panels {
    padding-top: 72px;
    background-image: url(../img/bg-image.png);
    background-repeat: no-repeat;
    background-position:calc(50% - 508px) 156px;
    }

.tabs__panel {
    display: none;
}

.tab__panel--active{
    display: block;
}

.feature-tab-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.feature-tab-panel__img {
    width: 536px;
    height: 346px;
    object-fit: contain;
    margin-right: 118px;
}

.feature-tab-panel__info {
    padding: 0;
    margin: 0;
}

.feature-tab-panel__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 52px;
    font-weight: 500;
    letter-spacing: -0.1px;
    color: var(--primary-color);
}

.feature-tab-panel__text {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    opacity: 0.5;
}


/* BUTTON STYLES */
.button {
    padding: 10px 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 2; 
    letter-spacing: 0.25px;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #fff;
    white-space: nowrap;
}

 .button:hover{
    opacity: 0.8;
}

.button:active{
    opacity: 0.6;
}

.button--red{
    padding: 12px 33px 11px 32px;
    background-color: var(--red-color);
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #fff;
    transition: all 0.4s ease;
}

.button--red:hover{
    background-color: #fff;
    color:var(--red-color);
    border: 2px solid var(--red-color);
}

.button--blue{
    background-color: var(--accent-color);
}

.button--blue:hover{
    border:2px solid var(--accent-color);
    background-color: #fff;
    color: var(--accent-color);
}

.button--light{
    color: var(--primary-color);
    background-color: #f7f7f7;
}

.button--light:hover{
    border: 2px solid var(--primary-color);
}

/* HEADER */
.header{
    padding-top: 48px;
    padding-bottom: 110px;
}

.header__container {
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 13px;
}

.sitenav {
    flex-shrink: 1;
    margin: 0;
    padding: 0;
}

.sitenav__logo--link {
    width: 149px;
    height: 25px;
    margin-right: 430px;
}

.sitenav__logo--link:hover{
    opacity: 0.8;
}

.sitenav__logo--link:active{
    opacity: 0.6;
}

.sitenav__logo-img {
    width: 100%;
}

.sitenav__list {
    display: flex;
    padding: 0;
    margin-right: 48px;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 48px;
}

.sitenav__link {
    display: block;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: var(--primary-color);
}

.sitenav__link:hover{
    color: var(--red-color);
    opacity: 0.8;
}

.sitenav__link:active{
    opacity: 0.6;
}

/* MAIN  */
.main-content{
    flex-grow: 1;
}

/* HERO */
.hero {
    padding-top: 69px;
    padding-bottom: 203px;
    background-image: url(../img/bg-image.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 705px) 200px ;
}

.hero__container {
    display: flex;
    align-items: flex-start;

}

.hero__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 540px;
    margin-right: 67px;
    padding-top: 66px;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 52px;
    font-weight: 500;
    letter-spacing: 0.15px;
}

.hero__info {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: var(--primary-color);
    opacity: 0.5;
}

.hero--actions {
    margin-top: 0;
}

.hero--actions__item:not(:last-child){
    margin-right: 16px;
}

.hero__img {
    width: 574px;
    height: 381px;
    object-fit: contain;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* EXTENSION */
.extension--inner {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 911px;
}

.extension__list {
    display: flex;
    align-items: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: -35px;
    padding-top: 48px;
    list-style: none;
}

.extension__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 24px 24px;
    margin-left: 35px;
    margin-right: 0;
    border-radius: 15px;
}

.extension{
    position: relative;
    width: calc(100% / 3-35px);
    max-width: 280px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
}

.extension:nth-child(2){
    margin-top: 40px;
}

.extension:nth-child(3){
    margin-top: 80px;
}

.extension::after{
    content: "";
    position: absolute;
    bottom: 105px;
    height: 4px;
    width: 100%;
    background-image: url(../img/circle--divider.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.extension__img {
    width: 105px;
    height: 110px;
    margin-bottom: 32px;
}

.extension__title {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 20px;
    line-height: normal;
    font-weight: 500;
    letter-spacing: 0.25px;
    color: var(--primary-color);
}

.extension__text {
    margin-top: 0;
    margin-bottom: 56px;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    opacity: 0.5;
    color: var(--primary-color);
}

/* FAQ */
.faq{
    padding-top: 150px;
}

.faq__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 56px;
}

.faq__accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion {
    width: 100%;
    margin-bottom: 54px;
    border-top: 1px solid rgba(36, 42, 69, 0.15);
}

.accordion__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom : 1px solid rgba(36, 42, 69, 0.15);
}

.accordion__item--open .accordion__content{
    display: block;
}

.accordion__item--open .accordion__item--toggler{
    transform: rotate(180deg);
    color: var(--red-color);
}

.accordion__item-header {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 13px;
    width: 100%;
}

.accordion__item-header:hover .accordion__item-title{
    color:var(--red-color)
}

.accordion__item-title {
    flex-grow: 1;
    margin: 0;
    margin-right: 24px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

.accordion__item--toggler {
    background-color: transparent;
    border:0;
    color: var(--accent-color);
}

.accordion__content {
    display: none;
    margin: 0;
    padding-top:32px;
    padding-bottom: 29px;
}

.accordion__content-text {
    margin:0;
    font-size: 16px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 0.15px;
    color: rgba(36, 42, 69, 0.75);
}

/* SUBSCRIPTION */
.subscription{
    background-color:var(--accent-color);
}

.subscription__inner {
    width: 100%;
    max-width: 445px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 58px;
    padding-bottom: 52px;
}

.subscription__count-text {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 13px;
    line-height: 40px;
    font-weight: 500;
    letter-spacing: 5px;
    color: #fff;
    text-align: center;
}

.subscription__title {
    margin-top: 0;
    margin-bottom: 36px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #fff;
    text-align: center;
}

.subscription__form {
    display: flex;
    align-items: center;
}

.subscription__field-wrapper {
    position: relative;
    z-index: 1;
    width: 300px;
    margin-right: 16px;
    padding: 0;
}

.subscription__field {
    width: 100%;
    display: block;
    padding: 8px 20px;
    border: 0;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.25px;
    color: rgba(36, 42, 69, 0.25);
    border: 2px solid transparent;
    border-radius: 5px;
}

.subscription__field:not(:focus):not(:placeholder-shown):invalid {
    padding-right: 52px;
    background-image: url(../img/error-disc.svg);
    background-repeat: no-repeat;
    border-color: var(--red-color);
    background-position: right 16px center;
}

.subscription__error {
    position: absolute;
    z-index: -1;
    top: calc(100% - 15px);
    width: 100%;
    padding: 6px 12px;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.25px;
    border-radius: 0 0 5px 5px;
    font-style: italic;
    text-align: left;
    background-color: var(--red-color);
    color: #fff;
}

.subscription__field:not(:focus):not(:placeholder-shown):invalid ~ .subscription__error {
    display: block;
  }
  
  .subscription__field:focus ~ .subscription__error,
  .subscription__field:valid ~ .subscription__error,
  .subscription__field:placeholder-shown ~ .subscription__error {
    display: none;
  }